.cardProducts{
        background-color: white;
        height: 350px;
        width: 270px;
        color: black;
        text-align: center;
        border-radius: 7%;
        overflow: hidden;
        transition: all 1.5s;
        margin-top: 2%;
}
.cardProducts:hover{
    transform: scale(1.05);
}
.cardProducts img{
    height: 50%;
    width: 100%;
}
.divContCard{
    margin-top: 10%;
}

/* #cardCuencos{
    height: 425px;
} */
