.footerGeneral{
    padding: 3% 0 3% 0;
    background-color: #EBD8C3;
}
.flexElementFooter{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.deliveryP{
    text-align: center;
    margin-top: 4%;
}
.deliveryP p{
    color: white;
    font-size: 1.05rem;
}
.paymentP{
    margin-top: 2%;
}
.paymentP p{
    color: white;
}
.redesIconos{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
}