.sectionContact{
    margin: 3% 0 4% 0;
    width: 100%;
}
.sectionContact form{
    margin: 2% 0 2% 17%;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}
.divBarraGral{
    width: 100%;
}
.divBotones{
    margin-left: 33%;
}
.divBotones button{
    background-color: #EBD8C3;
}